# IDE Configuration files
.idea
.vscode

# Python Environment
*.py[dcw]
__pycache__
venv
pyvenv
Pipfile.lock

# Dev Tools
tools/*

# Dev testing
dev
_testing.py

# Packaging
*.egg-info
bin
build
dist
MANIFEST
