# IDE Configuration files
.idea
.vscode
.vs

# Python Environment
*.py[dcw]
__pycache__
venv
virtualenv
pyvenv
Pipfile.lock

# Docs
docs/_build

# Dev Tools
tools/*

# Dev testing
dev
_testing.py

# Packaging
*.egg-info
bin
build
dist
MANIFEST

# Pytest coverage db
.coverage

# IDE Ext's
.history/

# tweet_generator example
examples/tweet_generator/*.ttf