[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
aiohttp = "*"
Pillow = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-rtd-dark-mode = "*"
flake8 = "*"

[requires]
python_version = "3.8"
